div {
    margin: 25px auto 25px auto;
}

mat-divider {
    margin: 25px auto 25px auto;
}

div.mat-card-header-text {
    margin-left: 0px;
}

button {
    padding-left: -0px;

}

span {
    float: left;
    width: 180px;
}

input {
    text-align: center;
}

mat-card {
    background-color: purple;
}