mat-list-option {
    color: black !important ;
}

table {
    width: 100%;
}

mat-slider {
    width: 100%;
}

.arrow-background{
    background-image: url('../../../assets/arrows.jpg');
}

.help-text {
    text-align: center;
    color: lightgray;
    background-position: center;
    background-repeat: no-repeat;
}

img.tilt-image {
    width: 180px;
}